/.gradle/8.7/checksums/md5-checksums.bin
/.gradle/8.7/checksums/sha1-checksums.bin
/.gradle/8.7/dependencies-accessors/28e83d3fe844d7c1eeceb95ab4d5464e8f0563ad/classes/org/gradle/accessors/dm/LibrariesForLibs$AndroidPluginAccessors.class
/.gradle/8.7/dependencies-accessors/28e83d3fe844d7c1eeceb95ab4d5464e8f0563ad/classes/org/gradle/accessors/dm/LibrariesForLibs$BundleAccessors.class
/.gradle/8.7/dependencies-accessors/28e83d3fe844d7c1eeceb95ab4d5464e8f0563ad/classes/org/gradle/accessors/dm/LibrariesForLibs$CoreLibraryAccessors.class
/.gradle/8.7/dependencies-accessors/28e83d3fe844d7c1eeceb95ab4d5464e8f0563ad/classes/org/gradle/accessors/dm/LibrariesForLibs$EspressoLibraryAccessors.class
/.gradle/8.7/dependencies-accessors/28e83d3fe844d7c1eeceb95ab4d5464e8f0563ad/classes/org/gradle/accessors/dm/LibrariesForLibs$ExtLibraryAccessors.class
/.gradle/8.7/dependencies-accessors/28e83d3fe844d7c1eeceb95ab4d5464e8f0563ad/classes/org/gradle/accessors/dm/LibrariesForLibs$KotlinPluginAccessors.class
/.gradle/8.7/dependencies-accessors/28e83d3fe844d7c1eeceb95ab4d5464e8f0563ad/classes/org/gradle/accessors/dm/LibrariesForLibs$PluginAccessors.class
/.gradle/8.7/dependencies-accessors/28e83d3fe844d7c1eeceb95ab4d5464e8f0563ad/classes/org/gradle/accessors/dm/LibrariesForLibs$VersionAccessors.class
/.gradle/8.7/dependencies-accessors/28e83d3fe844d7c1eeceb95ab4d5464e8f0563ad/classes/org/gradle/accessors/dm/LibrariesForLibs.class
/.gradle/8.7/dependencies-accessors/28e83d3fe844d7c1eeceb95ab4d5464e8f0563ad/classes/org/gradle/accessors/dm/LibrariesForLibsInPluginsBlock$AndroidPluginAccessors.class
/.gradle/8.7/dependencies-accessors/28e83d3fe844d7c1eeceb95ab4d5464e8f0563ad/classes/org/gradle/accessors/dm/LibrariesForLibsInPluginsBlock$BundleAccessors.class
/.gradle/8.7/dependencies-accessors/28e83d3fe844d7c1eeceb95ab4d5464e8f0563ad/classes/org/gradle/accessors/dm/LibrariesForLibsInPluginsBlock$CoreLibraryAccessors.class
/.gradle/8.7/dependencies-accessors/28e83d3fe844d7c1eeceb95ab4d5464e8f0563ad/classes/org/gradle/accessors/dm/LibrariesForLibsInPluginsBlock$EspressoLibraryAccessors.class
/.gradle/8.7/dependencies-accessors/28e83d3fe844d7c1eeceb95ab4d5464e8f0563ad/classes/org/gradle/accessors/dm/LibrariesForLibsInPluginsBlock$ExtLibraryAccessors.class
/.gradle/8.7/dependencies-accessors/28e83d3fe844d7c1eeceb95ab4d5464e8f0563ad/classes/org/gradle/accessors/dm/LibrariesForLibsInPluginsBlock$KotlinPluginAccessors.class
/.gradle/8.7/dependencies-accessors/28e83d3fe844d7c1eeceb95ab4d5464e8f0563ad/classes/org/gradle/accessors/dm/LibrariesForLibsInPluginsBlock$PluginAccessors.class
/.gradle/8.7/dependencies-accessors/28e83d3fe844d7c1eeceb95ab4d5464e8f0563ad/classes/org/gradle/accessors/dm/LibrariesForLibsInPluginsBlock$VersionAccessors.class
/.gradle/8.7/dependencies-accessors/28e83d3fe844d7c1eeceb95ab4d5464e8f0563ad/classes/org/gradle/accessors/dm/LibrariesForLibsInPluginsBlock.class
/.gradle/8.7/dependencies-accessors/28e83d3fe844d7c1eeceb95ab4d5464e8f0563ad/sources/org/gradle/accessors/dm/LibrariesForLibs.java
/.gradle/8.7/dependencies-accessors/28e83d3fe844d7c1eeceb95ab4d5464e8f0563ad/sources/org/gradle/accessors/dm/LibrariesForLibsInPluginsBlock.java
/.gradle/8.7/dependencies-accessors/28e83d3fe844d7c1eeceb95ab4d5464e8f0563ad/metadata.bin
/.gradle/8.7/executionHistory/executionHistory.bin
/.gradle/8.7/executionHistory/executionHistory.lock
/.gradle/8.7/fileHashes/fileHashes.bin
/.gradle/8.7/fileHashes/fileHashes.lock
/.gradle/8.7/fileHashes/resourceHashesCache.bin
/.gradle/buildOutputCleanup/buildOutputCleanup.lock
/.gradle/buildOutputCleanup/cache.properties
/.gradle/buildOutputCleanup/outputFiles.bin
